{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Calendarize plugin for Craft CMS 3.x
 *
 * CalendarizeField Field Input
 *
 * @author    Franco Valdes
 * @copyright Copyright (c) 2018 Franco Valdes
 * @link      https://union.co
 * @package   Calendarize
 * @since     1.0.0
 */
#}

{% import "calendarize/_includes/forms" as forms %}

{% set daysOfWeek = craft.calendarize.getWeekDayNames %}
{% set endOptions = [
    { value: 'never', label: 'Never'|t("calendarize") },
    { value: 'date', label: 'On Date'|t("calendarize") }
] %}

{% set repeatOptions = [
    { value: 'daily', label: 'Daily'|t("calendarize") },
    { value: 'weekly', label: 'Weekly'|t("calendarize") },
    { value: 'biweekly', label: 'Biweekly (every 2 weeks)'|t("calendarize") },
    { value: 'monthly', label: 'Monthly'|t("calendarize") },
    { value: 'yearly', label: 'Yearly'|t("calendarize") },
] %}

<div class="calendar-wrapper">
    <div class="calendar-fields">
        <div class="calendar-row">
            <div class="calendar-row-item">
                {{
                    forms.lightswitchField({
                        label: 'All Day'|t("calendarize"),
                        id: name ~ '-allDay',
                        name: name ~ '[allDay]',
                        value: ( value.allDay ?? false ),
                        on: ( value.allDay ?? false ),
                        layout: 'row'
                    })
                }}
            </div>
            <div class="calendar-row-item">
                {{
                    forms.dateTimeField({
                        id: name ~ '-startDate',
                        name: name ~ '[startDate]',
                        value: ( value is not null and value.startDate ? value.startDate : null ),
                        parent: namespacedId ~ '-allDay',
                        minuteIncrement: 15
                    })
                }}
            </div>
            <div class="calendar-row-item">
                <span class="label u-bold">{{'to'|t("calendarize")}}</span>
            </div>
            <div class="calendar-row-item">
                {{
                    forms.dateTimeField({
                        id: name ~ '-endDate',
                        name: name ~ '[endDate]',
                        value: ( value is not null and value.endDate ? value.endDate : null ),
                        parent: namespacedId ~ '-allDay',
                        minuteIncrement: 15
                    })
                }}
            </div>
        </div>
        <div class="calendar-row u-alignStart">
            <div class="calendar-row-item">
                {{
                    forms.lightswitchField({
                        label: 'Repeats'|t("calendarize"),
                        id: name ~ '-repeats',
                        name: name ~ '[repeats]',
                        value: ( value.repeats ?? false ),
                        on: ( value.repeats ?? false )
                    })
                }}
            </div>

            <div class="calendar-row-item" data-if="{{ namespacedId }}-repeats" data-if-value="1">
                {{
                    forms.selectField({
                        id: name ~ '-repeatType',
                        label: 'Every'|t("calendarize"),
                        name: name ~ '[repeatType]',
                        value: ( value.repeatType ?? false ),
                        options: repeatOptions
                    })
                }}
            </div>
        </div>

        <div class="calendar-row u-alignStart" data-if="{{ namespacedId }}-repeats" data-if-value="1">
            <div class="calendar-row-item">
                <div class="calendar-row-days" data-if="{{ namespacedId }}-repeatType" data-if-value="weekly" data-or-value="biweekly">
                    {% for day in daysOfWeek %}
                        {% set fieldName = name ~ '[days][' ~ day.value ~ ']' %}
                        {% set labelId = 'label'~random() %}
                        {% set selected = false %}

                        {% if value is not null and value.days | length %}
                            {% if day.value in value.days | keys %}
                                {% set selected = true %}
                            {% endif %}
                        {% endif %}

                        <div class="day" id="fields-calendarDays-field">
                            <label for="{{labelId}}">
                                <input type="checkbox" id="{{labelId}}" name="{{ fieldName }}" {% if selected -%}checked{%- endif %}/>
                                <div class="day-box">
                                    {{ day.label }}
                                </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="calendar-row-days" data-if="{{ namespacedId }}-repeatType" data-if-value="monthly" data-monthly-select="{{ namespacedId }}-startDate-date">
                    {% set opts = [
                        { value: 'onDay', label: value.startDate ? value.startDate.format('jS') },
                        { value: 'onMonthDay', label: craft.calendarize.weekMonthText(value.startDate ?? now) }
                    ] %}
                    {{
                        forms.selectField({
                            id: name ~ 'Months',
                            label: 'Every month on the'|t("calendarize"),
                            name: name ~ '[months]',
                            value: ( value.months ?? false ),
                            options: opts
                        })
                    }}
                </div>
            </div>
        </div>

        <div class="calendar-row" data-if="{{ namespacedId }}-repeats" data-if-value="1">
            <div class="field">
                <div class="heading">
                    <label>{{'Ends Repeat'|t("calendarize")}}</label>
                </div>

                <div class="calendar-row">
                    <div class="calendar-row-item">
                        {{
                            forms.selectField({
                                id: name ~ '-endRepeat',
                                name: name ~ '[endRepeat]',
                                value: ( value.endRepeat ?? false ),
                                options: endOptions
                            })
                        }}
                    </div>
                    <div class="calendar-row-item" data-if="{{ namespacedId }}-endRepeat" data-if-value="date">
                        {{
                            forms.dateField({
                                id: name ~ 'EndRepeatDate',
                                name: name ~ '[endRepeatDate]',
                                value: ( value is not null and value.endRepeatDate ? value.endRepeatDate : null ),
                            })
                        }}
                    </div>
                </div>
            </div>
        </div>

        <div class="calendar-row calendar-row-column" data-exceptions="fields[{{ name }}][exceptions][][date]" data-if="{{ namespacedId }}-repeats" data-if-value="1">
            <div class="calendar-row-item">
                {{
                    forms.dateField({
                        label: 'Date Exceptions'|t("calendarize"),
                        id: name ~ 'Exceptions',
                        name: name ~ '[exceptions]',
                        value: null
                    })
                }}
            </div>
            <div class="calendar-row-item">
                <ul class="exceptions-list">
                    {% if value.exceptions is defined %}
                        {% for key, exception in value.exceptions %}
                            <li>
                                <div data-icon="remove"></div>
                                <p>{{ exception | date('l, d/m/Y') }}</p>
                                <input type="hidden" name="{{ name }}[exceptions][{{ key }}][date]" value="{{ exception | date('short') }}"/>
                                <input type="hidden" name="{{ name }}[exceptions][{{ key }}][timezone]" value="{{ craft.app.getTimeZone() }}"/>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="calendar-row calendar-row-column" data-time-exceptions="fields[{{ name }}][timeChanges][][date]" data-if="{{ namespacedId }}-repeats" data-if-value="1">
            <div class="calendar-row-item">
                {{
                    forms.dateTimeField({
                        label: 'Time Exceptions'|t("calendarize"),
                        id: name ~ 'TimeChanges',
                        name: name ~ '[timeChanges]',
                        value: null,
                        timeException: true,
                        minuteIncrement: 15
                    })
                }}
            </div>
            <div class="calendar-row-item">
                <ul class="exceptions-list">
                    {% if value.timeChanges is defined %}
                        {% for key, change in value.timeChanges %}
                            <li>
                                <div data-icon="remove"></div><p>{{ change | date('l, m/d/Y h:i a') }}</p>
                                <input type="hidden" name="{{name}}[timeChanges][{{key}}][date]" value="{{ change | date('m/d/Y') }}" />
                                <input type="hidden" name="{{name}}[timeChanges][{{key}}][time]" value="{{ change | date('h:i A') }}" />
                                <input type="hidden" name="{{name}}[timeChanges][{{key}}][timezone]" value="{{ craft.app.getTimeZone() }}">
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% if value is defined and value.startDate %}
        <div class="calendar-data">
            <p>
                {% if value.hasPassed %}{{'Date'|t("calendarize")}}:{% else %}{{'Next Occurrence'|t("calendarize")}}:{% endif %}
                {% if value.allDay %}
                    <b>{{ value.next.format('m/d/Y') }}</b>
                {% else %}
                    <b>{{ value.next.format('m/d/Y @ h:i:s a') }}</b>
                {% endif %}
            </p>
            {% if value.repeats %}
                <ul>
                    <li>{{'Occurrences'|t("calendarize")}}:</li>
                    {% for occurrence in value.getOccurrences(10) %}
                        <li>{{ occurrence.format('m/d/Y @ h:i:s a') }}</li>
                    {% endfor %}
                    {% if value.getOccurrences | length > 10 %}
                        <li>...</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
</div>
